@import "tailwindcss";

:root {
  --background: #f6f1e9;
  --foreground: #313131;

  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-cormorant);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Global base */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
