@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #313131;

  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-cormorant);

  color-scheme: light dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #222222;
  }
}

/* Global base */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
