@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #313131;

  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-cormorant);

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #222222;
  }
}

/* Global base */
body {
  background: var(--background);
  color: var(--foreground);
}

.font-heading {
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

.font-title {
  font-family: var(--font-cormorant), serif;
}
